*
{
 margin: 0%;
 padding: 0%;
 box-sizing: border-box;
}
a
{
    color: black;
    text-decoration: none;

}
.user
{
    
    position: relative;
    left: 1790px;
    top:-15px;
}
.user i
{
    border: 1px solid black;
    border-radius: 20px;
}
.google
{
    position: absolute;
    transform: translate(-50% -50%);
    top: 50%;
    left: 50%;
    font-size: 70px;
}
.serch
{
    width: 25%;
    position: absolute;
    transform: translate(-50% -50%);
    top: 65%;
    left: 47%;
    border: 1px solid black;
    border-radius:10px;
}
.serch input
{
    width:100% ;
    outline: none;
    border: none;
    padding: 10px;
    border-radius:10px;
}
.serch i
{
    position: absolute;
    transform: translate(-50% 50%);
    left:3%;
    top: 23%;
    color: gray;

}
.one
{
    height: 32px;
    width: 32px;
    position: absolute;
    transform: translate(-50% 50%);
    left: 82%;
    top: 8%;
}
.two
{
    height: 22px;
    width: 22px;
    position: absolute;
    transform: translate(-50% 50%);
    left: 93%;
    top: 12%;
    margin: auto;
}
.button
{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 60%;
    top: 80%;
    
}
.button a
{
    border: 1px solid #f8f9fa;
    padding: 10px  20px;
    margin-right: 10px;
    background-color: #f8f9fa;
}
.lang
{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 86%;
    left: 63%;
    font-family: Arial;
    font-size: 15px;
}